<div class="section-container">
  <section class="main-section">
    <p>
      Hi! My name is Carlos Parra and you came across my
      <span>Site</span> while it is still <span>Under Construction</span>
    </p>
  </section>
  <div class="check-projects-container">
    <p class="check-projects__p">But since you're already here, checkout my projects:</p>
    <div></div>
    <span class="arrow-circle-down">
      <i class="fa fa-arrow-circle-down fa-2x" aria-hidden="true"></i>
    </span>
  </div>
</div>
