.section-container {
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.main-section {
  max-width: 600px;
  margin: 0 2rem;
  overflow: hidden;
}

p {
  color: var(--text-color);
  font-size: clamp(1rem, 10vw, 2rem);
  text-align: end;
  line-height: 1.3;
}

.highlight {
  font-size: clamp(1.5rem, 12vw, 4.4rem);
  color: var(--accent-color);
}

.check-projects-container {
  display: grid;
  place-items: center;
  gap: 1rem;
}

.check-projects__p {
  text-align: center;
}

/* arrow */
.arrow-down-circle {
  aspect-ratio: 1;
  width: 40px;
  fill: none;
  stroke: var(--accent-color);
  font-size: initial;
  filter: drop-shadow(4px, 4px, 4px, rgb(0, 0, 0, 0.5));
  animation: float 1700ms infinite;
}

@keyframes float {
  from {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  to {
    transform: scale(1);
  }
}
