<div class="section-container">
  <section class="main-section">
    <p>
      Hi! My name is Carlos Parra and you came across my
      <span>Site</span> while it is still <span>Under Construction</span>
    </p>
  </section>
  <div class="check-projects-container">
    <p class="check-projects__p">
      But since you're already here, checkout my projects:
    </p>
    <div class="arrow-container">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        stroke-width="2"
        class="arrow-down-circle"
      >
        <circle cx="12" cy="12" r="10"></circle>
        <polyline points="8 12 12 16 16 12"></polyline>
        <line x1="12" y1="8" x2="12" y2="16"></line>
      </svg>
    </div>
  </div>
</div>
